{{extend 'layout.html'}}

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script>
  var add_post_url = "{{=URL('api', 'add_post', user_signature=True)}}";
var get_post_list_url = "{{=URL('api', 'get_post_list')}}";
// Like callbacks.
var set_like_url = "{{=URL('api', 'set_like', user_signature=True)}}";
var get_likers_url = "{{=URL('api', 'get_likers')}}"
// Stars.
var set_stars_url = "{{=URL('api', 'set_stars', user_signature=True)}}";
var is_logged_in = {{='false' if auth.user is None else 'true'}};
var user_email = "{{='' if auth.user is None else auth.user.email}}";
// Delete posts.
var delete_post_url = "{{=URL('api', 'delete_post', user_signature=True)}}";
const iex = "https://api.iextrading.com/1.0";
const MAX_SEARCH_RESULT = 20;
</script>
{{end}}

<div class="main_content">
  <div id="vue-div" class="display:none">

    <div id="search">
      <button id="search" v-on:click="search">Search</button>
      <input v-on:input="search" v-model="search_query" placeholder="Search"/>
      <table>
        <tr>
          <th>Logo</th>
          <th>Symbol</th>
          <th>Company Name</th>
          <th>Market Cap</th>
          <th>Current Price</th>
          <th>Watch Stock</th>
        </tr>
        <tr v-for="(stock, symbol) in search_result">
          <td><img :src="stock.logo" width="64" height="64"/></td>
          <td>${ symbol }</td>
          <td>${ stock.name }</td>
          <td>${ stock.mktcap }</td>
          <td>${ stock.price }</td>
          <td>
            <span
              v-on:click="watch_stock(symbol)"
              :class="'glyphicon glyphicon' +
                (is_watching(symbol) ? '-check' : '-eye-open')"
            />
          </td>
        </tr>
      </table>
    </div>

  </div>
</div>

<script src="{{=URL('static', 'js/default_index.js')}}"></script>
