{{extend 'layout.html'}}

{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script>
  const is_logged_in = {{='false' if auth.user is None else 'true'}};
  const user_email = "{{='' if auth.user is None else auth.user.email}}";

  const buy = "{{=URL('default', 'buy', user_signature=True)}}";
  const get_purchases_ep = "{{=URL('api', 'get_purchases', user_signature=True)}}";
  const search_ep = "{{=URL('api', 'search', user_signature=True)}}";
  const watch_stock_ep = "{{=URL('api', 'watch_stock', user_signature=True)}}";
  const get_watched_stocks_ep = "{{=URL('api', 'get_watched_stocks', user_signature=True)}}";
</script>
{{end}}

<div class="main_content">
  <div id="vue-div" class="display:none">

    <div id="search">
      <button id="search" v-on:click="search">Search</button>
      <input v-on:input="search" v-model="search_query" placeholder="Search"/>
      <table>
        <tr>
          <th>Logo</th>
          <th>Symbol</th>
          <th>Company Name</th>
          <th>Market Cap</th>
          <th>Current Price</th>
          <th v-if="is_logged_in">Watch Stock</th>
        </tr>
        <tr v-for="(stock, symbol) in search_result">
          <td><img :src="stock.logo" width="64" height="64"/></td>
          <td>${ stock.symbol }</td>
          <td>${ stock.name }</td>
          <td>${ numatter(stock.mktcap) }</td>
          <td>$${ parseFloat(stock.price).toFixed(2) }</td>
          <td v-if="is_logged_in">
            <span
              v-on:click="watch_stock(symbol)"
              :class="'glyphicon glyphicon' +
                (is_watching(symbol) ? '-check' : '-eye-open')"
            />
          </td>
          <td>
            <button v-if="is_logged_in" v-on:click="buy(symbol)">Buy!</button>
          </td>
        </tr>
      </table>
    </div>

  </div>
</div>

<script src="{{=URL('static', 'js/default_index.js')}}"></script>
